.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
Models/*.rds
Models/tri-hurdle_metaanalysis/*.rds
Models/tri-hurdle_metaanalysis/*.qs
Models/thomas/*.rds
Models/thomas/*.qs
Figures/**/*.rds

**/*.quarto_ipynb
