.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
models/*.rds
models/tri-hurdle_metaanalysis/*.rds
models/tri-hurdle_metaanalysis/*.qs
models/thomas/*.rds
models/thomas/*.qs
figures/**/*.rds


**/*.quarto_ipynb
