.subpoint {
  font-size: 90%;
  margin-left: 1.5em;
  margin-top: -0.3em;
  margin-bottom: 0.3em;
}

.subpoint-narrow {
  font-size: 90%;
  padding-left: .75em;
  margin-top: -0.4em;
  margin-bottom: 0.3em;
}

.subsubpoint {
  font-size: 90%;
  margin-left: .75em;
  margin-top: -0.4em;
  margin-bottom: 0.3em;
}

.reveal .slide-logo {
  height: 128px !important;
  width: 182px !important;
  max-width: unset !important;
  max-height: unset !important;
}

.subtitle {
  font-size: 160%;
  color: #4682B4;
  font-weight: bold;
}

.title {
  font-size: 90%;
}
